fieldset {
  background-color: navajowhite;
}
#search_results {
  position: absolute;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border: 1px solid midnightblue;
}
